:root {
    --vermelho: #E41A15;
    --branco:#fff;
}

body {
    font-family: 'Lato', sans-serif;
}

/*----------------------------- BODY-----------------------*/

/*----------------------------- HEADER-----------------------*/

header {
    background-color: var(--vermelho)
}

/*----------------------------- NAV-----------------------*/

nav {
    background-color:  var(--vermelho)

}
.btn{
      color:var(var(--branco));
      background-color: var(--vermelho);
      border: 1px solid var(--branco);
}
.btn:hover{
      color:var(--vermelho);
      background-color: var(
    --branco
      );
      border: 1px solid var(--vermelho);
}
/*----------------------------- MAIN-----------------------*/
main {
    text-align: justify;

}

main .card {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

main .card h5 {
    min-height: 50px;
}

main img {
    padding: 12px;
}
.badge {
    background-color: var(--vermelho);
}
.carousel-item h5, .carousel-item p {
    background-color: var(--vermelho);
    
}

.carousel {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.carousel-control-next-icon,

.carousel-control-prev-icon,

.carousel-indicators{

    filter:invert(1);

}

iframe {
    height:400px;
}

.container-contact {
    text-align: center;
}
/*----------------------------- FOOTER-----------------------*/
footer {
    background-color:  var(--vermelho);
}

footer a {
    color: var(--branco);
    border: 1px solid var(--branco);
    padding: 5px;
    border-radius: 220px;

}
footer a:hover {
    color: var(--vermelho);
    border: 1px solid var(--vermelho);
    background-color: var(--branco);
}
